body {
    clear: both;
    text-align: center;
    background-color: rgb(241, 235, 219) ;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

nav {
    background-color: rgb(245, 191, 43);
    height: 45px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;

}

.title {
    margin: 0px;
    padding: 0px;
    border: 0px;
    float: left;
    color: white;
    padding: 15px 0px 15px 30px;

}

.contact {
    padding-right: 30px;
}

links a {
    float: right;
    text-decoration: none;
    color: white;
    padding: 15px 15px 15px 15px;
}


.boxes .subtitle {
    margin: 0px;
    padding: 0px;
    border: 2px solid rgb(245, 191, 43);
    border-radius: 5px;
    height: 260px;
    width: 200px;
    background-color: white;
    float: left;


}

.boxes {
    display: inline-block;


}

.box {
    padding: 20px;
    margin-right: 10px;
    margin-top: 10px;
    float: left;
    
}

.moreInfo {
    text-decoration: none;
    color:white;
    background-color: rgb(245, 191, 43);
    height: 15px;
    width: 50px;
    border: 1px solid rgb(245, 191, 43);
    border-radius: 3px;
    margin-top: 300px;
    padding: 5px 30px 5px 30px;
}

